<header>
	<div class="main">
		<a href="{{ absURL "/" }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
        | <span id="dark-mode-toggle" onclick="toggleTheme()"></span>
		<script src="{{ absURL "js/themetoggle.js" }}"></script>
		{{ end }}
		<script id="partials/analytics.html" data-goatcounter="https://achuthr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	</nav>
</header>
